* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --highlight-color: #944718;
    --text-color: #f3c56f;
    --dark-color1: #000000;
    --dark-color2: #060606;
    --dark-color3: #0c0c0c;
    --dark-color4: #121212;
    --dark-color5: #181818;
    --dark-color6: #1e1e1e;
    --dark-color7: #262626;
    --hover-color: #333;
  }

html {
    overflow-x: hidden;
    background-color: var(--dark-color1);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#header {
    background: transparent;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    z-index: 1;
}

#nav {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
    height: 10vh;
    line-height: 10vh;
}

#nav li {
    width: calc(100vw / 4);
    cursor: pointer;
    text-align: center;
    list-style: none;
    color: var(--text-color);
    transition: 0.4s all ease-in-out;
    font-size: clamp(15px, 1.5vw, 20px);
    /*font-size: 20px;*/
}

#nav li:hover {
    background-color: var(--hover-color);
}

#hero {
    top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#heroImg {
    width: 100vw;
    max-width: 1000px;
    height: auto;
    z-index: -1;
}

#home {
    position: relative;
}

#AboutUs {
    padding: 50px;
    background-color: var(--dark-color2); /* Distinguish sections */
  }

.header {
    text-align: center;
    text-decoration: underline overline double;
    text-decoration-color: var(--highlight-color);
    color: var(--text-color);
    font-size: clamp(30px, 2vw, 5vw);
  }

#SecondHand {
    background-color:  var(--dark-color3);
    padding: 50px;
  }
  
#Refurbished {
    background-color:  var(--dark-color4);
    padding: 50px;
  }
  
#Services {
    background-color: var(--dark-color5);
    padding: 50px;
  }
  
#Testimonials {
    background-color:  var(--dark-color6);
    padding: 50px;
  }
  
#FAQs {
    background-color: var(--dark-color7);
    padding: 50px;
  }