* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: #000000;
    filter: opacity(0.85);
    backdrop-filter: blur(10px);
    color: blue;
}

#logoHolder {
    position: absolute;
    top: -7.5vh;
    left: -7.5vh;
    width: 15vh;
    height: 15vh;
}

#Logo {
    position: relative;
    z-index: 1;
    top: 0;
    left: 0;
}

#Initials {
    position: relative;
    left: 11.5vh;
    top: -21vh;
    font-size: 70px;
    z-index: 2;
    color: white;
}